[submodule "lib/WebSocket.ahk"]
	path = lib/WebSocket.ahk
	url = https://github.com/G33kDude/WebSocket.ahk.git
[submodule "lib/AutoHotkey-JSON"]
	path = lib/AutoHotkey-JSON
	url = https://github.com/G33kDude/AutoHotkey-JSON.git
	branch = boolean
